{% extends "base.html" %}
{% load widget_tweaks i18n static fastoche_tags %}
{% block content %}
    <div class="fastoche-container fastoche-container--fluid fastoche-my-md-14v">
        <div class="fastoche-grid-row fastoche-grid-row-gutters fastoche-grid-row--center">
            <div class="fastoche-col-12 fastoche-col-md-8 fastoche-col-lg-6">
                <div class="fastoche-container fastoche-background-alt--grey fastoche-px-md-0 fastoche-py-10v fastoche-py-md-14v">
                    <div class="fastoche-grid-row fastoche-grid-row-gutters fastoche-grid-row--center">
                        <div class="fastoche-col-12 fastoche-col-md-9 fastoche-col-lg-8">
                            <h1>Connexion</h1>
                            <div>
                                <form id="login-form" action="{% url 'wagtailadmin_login' %}" method="post">
                                    <fieldset class="fastoche-fieldset"
                                              id="login-form-fieldset"
                                              aria-labelledby="login-form-fieldset-legend login-form-fieldset-messages">
                                        <legend class="fastoche-fieldset__legend" id="login-form-fieldset-legend">
                                            <h2>Se connecter avec son compte</h2>
                                        </legend>
                                        <div class="fastoche-fieldset__element">
                                            <p class="fastoche-text--sm">Sauf mention contraire, tous les champs sont obligatoires.</p>
                                            <div class="fastoche-messages-group"
                                                 id="login-form-fieldset-messages"
                                                 aria-live="assertive">
                                                {% if form.errors %}
                                                    <div class="fastoche-alert fastoche-alert--error fastoche-alert--sm">
                                                        <p>Erreur : Votre identifiant et mot de passe ne correspondent pas, merci de réessayer.</p>
                                                    </div>
                                                {% endif %}
                                                {% if next %}
                                                    {% if user.is_authenticated %}
                                                        <div class="fastoche-alert fastoche-alert--error fastoche-alert--sm">
                                                            <p>
                                                                Erreur : Votre compte n’a pas accès à cette page. Pour continuer, merci de vous connecter
                                                                avec un compte autorisé.
                                                            </p>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% fastoche_django_messages %}
                                            </div>
                                        </div>
                                        <div class="fastoche-fieldset__element">
                                            {% csrf_token %}
                                            {% url 'wagtailadmin_home' as home_url %}
                                            <input type="hidden" name="next" value="{{ next|default:home_url }}" />
                                            <div class="fastoche-input-group">
                                                <label class="fastoche-label" for="id_username">Identifiant&nbsp;:</label>
                                                {{ form.username |add_class:"fastoche-input" }}
                                            </div>
                                        </div>
                                        <div class="fastoche-fieldset__element">
                                            <div class="fastoche-password">
                                                <label class="fastoche-label" for="id_password">Mot de passe&nbsp;:</label>
                                                {{ form.password |add_class:"fastoche-password__input fastoche-input" }}
                                                <div class="fastoche-password__checkbox fastoche-checkbox-group fastoche-checkbox-group--sm">
                                                    <input aria-label="Afficher le mot de passe"
                                                           id="id_password-show"
                                                           type="checkbox"
                                                           aria-describedby="id_password-show-messages">
                                                    <label class="fastoche-password__checkbox fastoche-label" for="id_password-show">Afficher</label>
                                                    <div class="fastoche-messages-group"
                                                         id="id_password-show-messages"
                                                         aria-live="assertive"></div>
                                                </div>
                                                {% if show_password_reset %}
                                                    <a class="fastoche-link" href="{% url 'wagtailadmin_password_reset' %}">Mot de passe oublié ?</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="fastoche-fieldset__element">
                                            <div class="fastoche-checkbox-group fastoche-checkbox-group--sm">
                                                <div class="fastoche-checkbox-group}">
                                                    {{ form.remember }}
                                                    <label for="{{ form.remember.id_for_label }}" class="fastoche-label">Se souvenir de moi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fastoche-fieldset__element">
                                            <ul class="fastoche-btns-group">
                                                <li>
                                                    <input class="fastoche-btn" type="submit" value="Se connecter" />
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'fastoche/dist/utility/utility.min.css' %}">
{% endblock extra_css %}
