{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="village-container">
        <div class="village-my-7w village-mt-md-12w village-mb-md-10w village-grid-row village-grid-row--gutters village-grid-row--middle village-grid-row--center">
            <div class="village-py-0 village-col-12 village-col-md-6">
                <h1>Page non trouvée</h1>
                <p class="village-text--sm village-mb-3w">Erreur 404</p>
                <p class="village-text--lead village-mb-3w">
                    La page que vous cherchez est introuvable. Veuillez nous excuser pour la gène occasionnée.
                </p>
                <p class="village-text--sm village-mb-5w">
                    Si vous avez tapé l’adresse web dans le navigateur, vérifiez qu’elle est correcte. La page n’est peut-être plus disponible.
                    <br />
                    Dans ce cas, pour continuer votre visite, vous pouvez consulter notre page d’accueil.
                </p>
                <ul class="village-btns-group village-btns-group--inline-md">
                    <li>
                        <a class="village-btn" href="/">Page d’accueil</a>
                    </li>
                </ul>
            </div>
            <div class="village-col-12 village-col-md-3 village-col-offset-md-1 village-px-6w village-px-md-0 village-py-0">
                <img src="{% static 'sites-faciles/artwork/technical-error.svg' %}"
                     class="village-responsive-img"
                     alt=""
                     width="300"
                     height="300" />
            </div>
        </div>
    </div>
{% endblock content %}
