{% load menu_tags %}
<div class="cefran-collapse cefran-mega-menu"
     id="mega-menu-{{ menu.parent_menu_item.id }}"
     tabindex="-1">
    <div class="cefran-container cefran-container--fluid cefran-container-lg">
        <button class="cefran-link--close cefran-link"
                aria-controls="mega-menu-{{ menu.parent_menu_item.id }}">Fermer</button>
        <div class="cefran-grid-row cefran-grid-row-lg--gutters">
            <div class="cefran-col-12 cefran-col-lg-8 cefran-col-offset-lg-4--right">
                <div class="cefran-mega-menu__leader">
                    <h4 class="cefran-h4 cefran-mb-2v">{{ menu.title }}</h4>
                    {% if menu.description %}<p class="cefran-hidden cefran-displayed-lg">{{ menu.description|safe }}</p>{% endif %}
                    {% if menu.main_link %}
                        <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right cefran-link--align-on-content"
                           href="{{ menu.main_link }}">Voir toute la rubrique</a>
                    {% endif %}
                </div>
            </div>
            {% for category in menu.get_categories %}
                <div class="cefran-col-12 cefran-col-lg-3">
                    <h5 class="cefran-mega-menu__category">
                        <a class="cefran-nav__link" href="#" target="_self">
                            {% if category.category.heading %}
                                {{ category.category.heading }}
                            {% else %}
                                {{ category.category.title }}
                            {% endif %}
                        </a>
                    </h5>
                    {% flat_menu category.category.handle template="wagtail_cefran/menus/mega_menu_category.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
