<div class="village-container village-my-3w">
    <div class="village-stepper">
        <h2 class="village-stepper__title">{{ block.value.title }}</h2>
        <div class="village-stepper__steps"
             data-village-current-step="{{ block.value.current }}"
             data-village-steps="{{ block.value.total }}">
        </div>
        <div class="village-grid-row village-grid-row--gutters">
            {% for subblock in block.value.steps %}
                <div class="village-col-12 village-col-sm">
                    <p>
                        <strong>{{ subblock.value.title }}</strong>
                    </p>
                    <p>{{ subblock.value.detail|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
