{% extends "registration_form.html" %}
{% if info %} 
  {{ info }}
{% endif %}

{% block form_content %}
<p>Cet utilisateur ci-dessous existe déjà :</p>

<p><tt>{{ username }}</tt></p>

<p>Soit vous êtes <tt>{{ username }}</tt>, en quel cas vous pouvez vous rendre sur <a href="{{ href }}"> la page de connection avec le login {{ username }}</a> pour vous connecter ou pour refaire votre mot de passe.</p>
  
<p>Soit vous n'êtes pas <tt>{{ username }}</tt>, en quel cas vous pouvez refaire votre  <a href="./info=pas+nom+{{ username }}">création d'utilisateur</a> aven un autre nom d'utilisateur (le nom {{ username }} étant déjà pris).</p>

{% endblock %}