{% load fastoche_tags wagtailcore_tags %}
<div class="fastoche-container fastoche-py-3w">
    <div class="fastoche-grid-row fastoche-grid-row--gutters">
        <div class="fastoche-col-12 fastoche-col-offset-md-2 fastoche-col-md-8">
            {% for subblock in block.value %}
                {% if subblock.block_type == 'title' %}
                    <div class="fastoche-col-12">
                        <h2>{{ subblock.value }}</h2>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="fastoche-accordions-group">
                {% for subblock in block.value %}
                    {% if subblock.block_type == 'accordion' %}
                        {% with forloop.counter0|lower as str_counter %}
                            {% with "accordion-"|add:accordions_id|add:"-"|add:str_counter as accordion_id %}  
                                {% fastoche_accordion id=accordion_id title=subblock.value.title content=subblock.value.content|richtext %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
