{# Display Django message info from previous form #}
{% if messages %}
    <div class="fastoche-container fastoche-mt-6w">
        <div class="fastoche-grid-row fastoche-grid-row--gutters">
            <div class="fastoche-col-12">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="fastoche-alert fastoche-alert--success fastoche-alert--sm fastoche-mb-5w"
                             role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "info" %}
                        <div class="fastoche-alert fastoche-alert--info fastoche-alert--sm fastoche-mb-5w" role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "error" %}
                        <div class="fastoche-alert fastoche-alert--error fastoche-alert--sm fastoche-mb-5w" role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
