beautifulsoup4
black
boto3
dj-database-url
dj-static
django-allauth
django_distill
django-compressor
django-debug-toolbar
django-extensions
django-sass-processor
django-simple-captcha
django-storages
django-taggit
django-design-system
Django>=4.2,<5.1
djlint
faker
flake8
gunicorn
ipython
isort
libsass
poerty
pre-commit
psycopg2-binary
python-dotenv
python-keycloak
requests
unidecode
django-design-system
wagtail-localize
wagtail-markdown
wagtail-modeladmin
wagtail-transfer
wagtail>=6.2,<6.3
wagtailmenus