{% if widget.attrs.dsfacile == "dsfacile" %}
  <div class="dsfacile-radio-group">
  {% endif %}
  {% include "django/forms/widgets/input.html" %}
  {% if widget.wrap_label %}
    <label class="dsfacile-label"
           {% if widget.attrs.id %}for="{{ widget.attrs.id }}"{% endif %}>
      {% if widget.label.label %}
        {{ widget.label.label }}
        <span class="dsfacile-hint-text">{{ widget.label.help_text }}</span>
      {% else %}
        {{ widget.label }}
      {% endif %}
    </label>
  {% endif %}
  {% if widget.attrs.dsfacile == "dsfacile" %}
  </div>
{% endif %}
