{% load static %}
<div class="icon-picker-widget">
  {% include "django/forms/widgets/text.html" %}

  {% with widget.attrs.id as widget_id %}
    <span id="{{ widget_id }}-icon" aria-hidden="true"></span>
    <script>
      (async () => {
        let widgetInput = document.getElementById('{{ widget_id }}');
        let widgetIcon = document.getElementById('{{ widget_id }}-icon');

        const options = {
          iconLibraries: ['cfran-buildings.json', 'cfran-business.json', 'cfran-communication.json', 'cfran-design.json', 'cfran-development.json', 'cfran-device.json', 'cfran-document.json', 'cfran-editor.json', 'cfran-finance.json', 'cfran-health.json', 'cfran-logo.json', 'cfran-map.json', 'cfran-media.json', 'cfran-others.json', 'cfran-system.json', 'cfran-user.json', 'cfran-weather.json'],
          allowEmpty: true,
          onSelect: function (jsonIconData) {
            widgetInput.value = jsonIconData.iconClass;
            widgetIcon.classList.add(jsonIconData.iconClass, "cfran-icon--lg", "cfran-mt-1w");
            },
          onReset: function () {
            widgetInput.innerHTML = "";
            widgetIcon.className = "";
          }
        }

        let _uip = new UniversalIconPicker('#{{ widget_id }}', options);
      })();
    </script>
  {% endwith %}
</div>
