{% load static fastoche_tags wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

{% for block in stream %}
  {% if block.block_type == 'alert' %}
    {% include "wagtail_cfran/blocks/alert.html" %}
  {% elif block.block_type == 'callout' %}
    {% include "wagtail_cfran/blocks/callout.html" %}
  {% elif block.block_type == 'image' %}
    <div class="cfran-container cfran-my-3w">
      <div class="cfran-grid-row cfran-grid-row--gutters">
        <div class="cfran-col-12">{% include_block block %}</div>
      </div>
    </div>
  {% elif block.block_type == 'multicolumns' %}
    {% include_block block %}
  {% elif block.block_type == 'fullwidthbackground' %}
    {% include_block block %}
  {% elif block.block_type == 'paragraph' %}
    <div class="cfran-container">{{ block.value|richtext }}</div>
  {% elif block.block_type == 'accordions' %}
    {% include "wagtail_cfran/blocks/accordions.html" with accordions_id=forloop.counter0|lower %}
  {% elif block.block_type == 'stepper' %}
    {% include "wagtail_cfran/blocks/stepper.html" %}
  {% elif block.block_type == 'separator' %}
    <div class="cfran-container">
      <hr class="cfran-mt-{{ block.value.top_margin }}w cfran-mb-{{ block.value.bottom_margin }}w cfran-py-1v">
    </div>
  {% elif block.block_type == 'markdown' %}
    <div class="cfran-container">{{ block.value|markdown }}</div>
  {% elif block.block_type == 'html' %}
    <div class="cfran-container">{{ block.value|safe }}</div>
  {% else %}
    <div class="cfran-container">{% include_block block %}</div>
  {% endif %}
{% endfor %}
