{# Display Django message info from previous form #}
{% if messages %}
    <div class="cfran-container cfran-mt-6w">
        <div class="cfran-grid-row cfran-grid-row--gutters">
            <div class="cfran-col-12">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="cfran-alert cfran-alert--success cfran-alert--sm cfran-mb-5w"
                             role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "info" %}
                        <div class="cfran-alert cfran-alert--info cfran-alert--sm cfran-mb-5w" role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "error" %}
                        <div class="cfran-alert cfran-alert--error cfran-alert--sm cfran-mb-5w" role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
