{% extends "wagtail_fastoche/base.html" %}

{% load static fastoche_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
    {% include "wagtail_fastoche/heading.html" %}
    <div class="fastoche-container fastoche-pt-4w">
        {% include "wagtail_fastoche/breadcrumbs.html" %}
        {% if not page.header_with_title %}<h1>{{ page.title }}</h1>{% endif %}
    </div>

    {% include "wagtail_fastoche/messages.html" %}

    {% include "wagtail_fastoche/blocks_stream.html" with stream=page.body %}

    <div class="fastoche-container fastoche-my-6w">
        {% for tag in page.tags.all|dictsort:"slug" %}
            <a class="fastoche-tag" target="_self" href="{% url 'global_tag' tag.slug %}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endblock content %}
