{% load static wagtailimages_tags %}
{% if page.header_image or page.header_color_class %}
  {% image page.header_image fill-1200x350 as bg_img %}
  <div class="cmsfastoche-hero{% if page.header_large %} cmsfastoche-hero-large{% endif %}{% if page.header_darken %} cmsfastoche-background-dark{% endif %}"
       style="{% if page.header_image %}background-image: {% if page.header_darken %}linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),{% endif %}url({{ bg_img.url }});
              {% elif page.header_color_class %}background-color: var(--background-alt-{{ page.header_color_class }});
              {% endif %} min-height: 350px">
    {% if page.header_with_title or page.header_cta_link and page.header_cta_label %}
      <div class="fastoche-container fastoche-py-14w">
        <div class="fastoche-grid-row fastoche-grid-row--gutters">
          <div class="fastoche-col fastoche-col-12{% if not page.header_large %}fastoche-col-md-6{% endif %}">
            {% if page.header_with_title %}
              <h1 {% if block.value.large %}class="fastoche-display--sm"{% endif %}>{{ page.title }}</h1>
            {% endif %}
            {% if page.header_cta_text %}<p>{{ page.header_cta_text }}</p>{% endif %}
            {% if page.header_cta_link and page.header_cta_label %}
              <a class="fastoche-btn {% if page.header_darken %}fastoche-btn--secondary fastoche-background-alt--blue-france fastoche-btn--lg{% else %}fastoche-btn--primary{% endif %} fastoche-btn--lg"
                 href="{{ page.header_cta_link }}">{{ page.header_cta_label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
