{% load wagtailimages_tags %}

{% include "lesgv/fragments/blog_posts.html" with posts=posts %}

{% comment %}
{% for item in posts %}
<div class="card">
  <div class="card-body">
    <a href="{{ item.url }}">
      <div class="card-header">
        <img src="{{ item.feature_image }}" alt="{{ item.feature_image_alt }}" />
      </div>
    </a>
    <div class="article">
      <h2>
        <a href="{{ item.url }}">{{ item.title }}</a>
      </h2>
      <p>{{ item.excerpt }}</p>
    </div>
  </div>
  <div class="author">
    <div class="tags">
      {% for tag in item.tags %}
      <a href="{{ tag.url }}"><span class="tag tag-{{ tag.slug }}">{{ tag.name }}</span></a>
      {% endfor %}
    </div>
    <p style="text-align: right;"><a href="{{ item.url }}">lire l'article : {{ item.title }}</a></p>
    {% for author in item.authors %}
    <a href="{{ author.url }}"><img src="{{ author.profile_image}}" alt="user" /></a>
    <div class="user-info">
      <p><a href="{{item.primary_author.url}}">{{item.primary_author.name}}</a></p>
    </div>
    {% endfor %}
    <div class="user-info">
      <p><small>{{item.published_at|truncatechars:11}}</small></p>
    </div>
  </div>
</div>
{% endfor %}
{% endcomment %}