/* Prefix the classes defined here with cmswebfastoche- */

.cmswebfastoche-hero
    background-size: cover
    background-position: center
    background-repeat: no-repeat

.cmswebfastoche-hero-large
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.cmswebfastoche-background-dark
    & h1, p
        color: white

.webfastoche-header__service-title em
    font-weight: lighter

.cmswebfastoche-author_card__header
    flex: 0 0 6rem !important
    width: 6rem !important

.cmswebfastoche-author-img
    border-radius: 50%
    height: 4.5rem !important
    margin: 1.5rem
    width: 4.5rem
