/* Prefix the classes defined here with cmscefran- */
.cmscefran-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cmscefran-hero-large {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cmscefran-background-dark h1,
.cmscefran-background-dark p {
  color: white;
}

.cefran-header__service-title em {
  font-weight: lighter;
}

.cmscefran-author_card__header {
  flex: 0 0 6rem !important;
  width: 6rem !important;
}

.cmscefran-author-img {
  border-radius: 50%;
  height: 4.5rem !important;
  margin: 1.5rem;
  width: 4.5rem;
}



body {
  font-family: 'fengardoneue', 'Charter', 'Bitstream Charter', 'Sitka Text', 'Cambria', 'serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lack', 'system-ui', 'sans-serif';
}

.cefran-logo:after {
  background-image: unset;
}

.cefran-logo:before {
  background-image: unset;
}

div.cefran-footer__brand {
  column-gap: 1rem;
}

ul.cefran-nav__list {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cefran-artwork-major {
  fill: var(--text-default-info);
}

.cefran-artwork-minor {
  fill: var(--text-default-success);
}

.cefran-artwork-decorative {
  fill: var(--text-default-grey);
}
