/* Prefix the classes defined here with cmscfran- */
.cmscfran-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cmscfran-hero-large {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cmscfran-background-dark h1,
.cmscfran-background-dark p {
  color: white;
}

.cfran-header__service-title em {
  font-weight: lighter;
}

.cmscfran-author_card__header {
  flex: 0 0 6rem !important;
  width: 6rem !important;
}

.cmscfran-author-img {
  border-radius: 50%;
  height: 4.5rem !important;
  margin: 1.5rem;
  width: 4.5rem;
}



body {
  font-family: 'fengardoneue', 'Charter', 'Bitstream Charter', 'Sitka Text', 'Cambria', 'serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'lack', 'system-ui', 'sans-serif';
}

.cfran-logo:after {
  background-image: unset;
}

.cfran-logo:before {
  background-image: unset;
}

div.cfran-footer__brand {
  column-gap: 1rem;
}

ul.cfran-nav__list {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cfran-artwork-major {
  fill: var(--text-default-info);
}

.cfran-artwork-minor {
  fill: var(--text-default-success);
}

.cfran-artwork-decorative {
  fill: var(--text-default-grey);
}