{% extends "base.html" %}

{% load static cefran_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
    <title>{{ title }} — {{ settings('wagtail_cefran.WagtailCefranConfig', use_default_site=True).site_title }}</title>
{% endblock title %}

{% block description %}
    <meta name="description" content="{{ search_description }}" />
{% endblock description %}

{% block social_media %}
    <meta property="og:site_name"
          content="{{ settings('wagtail_cefran.WagtailCefranConfig', use_default_site=True).site_title }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="{{ search_description }}" />
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />

    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ search_description }}" />
{% endblock social_media %}

{% block content %}
    {% include "wagtail_cefran/blocks/messages.html" %}

    <div class="cefran-container cefran-mt-6w">
        {% cefran_breadcrumb breadcrumb %}
        <h1>{{ title }}</h1>
    </div>

    <div class="cefran-container cefran-mt-6w">
        <div class="cefran-grid-row cefran-grid-row--gutters cefran-mb-3w">
            {% for entry in object_list %}
                <div class="cefran-col cefran-col-md-6">
                    <div class="cefran-card cefran-enlarge-link">
                        <div class="cefran-card__body">
                            <div class="cefran-card__content">
                                <h2 class="cefran-card__title">
                                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                                </h2>
                            </div>
                        </div>
                        {% if entry.header_image %}
                            <div class="cefran-card__header">
                                <div class="cefran-card__img">
                                    <img class="cefran-responsive-img"
                                         src="{{ entry.header_image.file.url }}"
                                         alt="">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>Aucun article trouvé.</p>
            {% endfor %}
        </div>
    </div>

    {% if posts.paginator.num_pages > 1 %}
        <div class="cefran-container cefran-grid-row cefran-grid-row--center cefran-mt-6w">{% cefran_pagination posts %}</div>
    {% endif %}

{% endblock content %}
