{% extends "base.html" %}
{% load widget_tweaks i18n static design_system_tags %}
{% block content %}
    <div class="village-container village-container--fluid village-my-md-14v">
        <div class="village-grid-row village-grid-row-gutters village-grid-row--center">
            <div class="village-col-12 village-col-md-8 village-col-lg-6">
                <div class="village-container village-background-alt--grey village-px-md-0 village-py-10v village-py-md-14v">
                    <div class="village-grid-row village-grid-row-gutters village-grid-row--center">
                        <div class="village-col-12 village-col-md-9 village-col-lg-8">
                            <h1>Connexion</h1>
                            <div>
                                <form id="login-form" action="{% url 'wagtailadmin_login' %}" method="post">
                                    <fieldset class="village-fieldset"
                                              id="login-form-fieldset"
                                              aria-labelledby="login-form-fieldset-legend login-form-fieldset-messages">
                                        <legend class="village-fieldset__legend" id="login-form-fieldset-legend">
                                            <h2>Se connecter avec son compte</h2>
                                        </legend>
                                        <div class="village-fieldset__element">
                                            <p class="village-text--sm">Sauf mention contraire, tous les champs sont obligatoires.</p>
                                            <div class="village-messages-group"
                                                 id="login-form-fieldset-messages"
                                                 aria-live="assertive">
                                                {% if form.errors %}
                                                    <div class="village-alert village-alert--error village-alert--sm">
                                                        <p>Erreur : Votre identifiant et mot de passe ne correspondent pas, merci de réessayer.</p>
                                                    </div>
                                                {% endif %}
                                                {% if next %}
                                                    {% if user.is_authenticated %}
                                                        <div class="village-alert village-alert--error village-alert--sm">
                                                            <p>
                                                                Erreur : Votre compte n’a pas accès à cette page. Pour continuer, merci de vous connecter
                                                                avec un compte autorisé.
                                                            </p>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% design_system_django_messages %}
                                            </div>
                                        </div>
                                        <div class="village-fieldset__element">
                                            {% csrf_token %}
                                            {% url 'wagtailadmin_home' as home_url %}
                                            <input type="hidden" name="next" value="{{ next|default:home_url }}" />
                                            <div class="village-input-group">
                                                <label class="village-label" for="id_username">Identifiant&nbsp;:</label>
                                                {{ form.username |add_class:"village-input" }}
                                            </div>
                                        </div>
                                        <div class="village-fieldset__element">
                                            <div class="village-password">
                                                <label class="village-label" for="id_password">Mot de passe&nbsp;:</label>
                                                {{ form.password |add_class:"village-password__input village-input" }}
                                                <div class="village-password__checkbox village-checkbox-group village-checkbox-group--sm">
                                                    <input aria-label="Afficher le mot de passe"
                                                           id="id_password-show"
                                                           type="checkbox"
                                                           aria-describedby="id_password-show-messages">
                                                    <label class="village-password__checkbox village-label" for="id_password-show">Afficher</label>
                                                    <div class="village-messages-group"
                                                         id="id_password-show-messages"
                                                         aria-live="assertive"></div>
                                                </div>
                                                {% if show_password_reset %}
                                                    <a class="village-link" href="{% url 'wagtailadmin_password_reset' %}">Mot de passe oublié ?</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="village-fieldset__element">
                                            <div class="village-checkbox-group village-checkbox-group--sm">
                                                <div class="village-checkbox-group}">
                                                    {{ form.remember }}
                                                    <label for="{{ form.remember.id_for_label }}" class="village-label">Se souvenir de moi</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="village-fieldset__element">
                                            <ul class="village-btns-group">
                                                <li>
                                                    <input class="village-btn" type="submit" value="Se connecter" />
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'design-system/dist/utility/utility.min.css' %}">
{% endblock extra_css %}
