{% extends "django_cefran/footer.html" %}
{% load i18n wagtailimages_tags menu_tags l10n %}

{% block not_footer_brand %}
  {% translate "Back to home page" as back_to_home_label %}
  {% if settings.wagtail_cefran.WagtailCefranConfig.operator_logo_file and settings.wagtail_cefran.WagtailCefranConfig.operator_logo_alt %}
    {% image settings.wagtail_cefran.WagtailCefranConfig.operator_logo_file original as logo_img %}
    <div class="cefran-footer__brand cefran-enlarge-link">
      <p class="gv-logo"
         title="{{ settings.wagtail_cefran.WagtailCefranConfig.footer_brand|default:'république française' }}">
        {{ settings.wagtail_cefran.WagtailCefranConfig.footer_brand_html| default_if_none:'république<br />française' | safe }}
      </p>
      <a class="cefran-footer__brand-link"
         href="/"
         title="{{ back_to_home_label }} - {{ settings.wagtail_cefran.WagtailCefranConfig.operator_logo_alt }} - {{ settings.wagtail_cefran.WagtailCefranConfig.footer_brand|default:'république française' }}">
        <img class="cefran-footer__logo"
             src="{{ logo_img.url }}"
             alt="{{ settings.wagtail_cefran.WagtailCefranConfig.operator_logo_alt }}"
             {% if settings.wagtail_cefran.WagtailCefranConfig.operator_logo_width >= 1 %}style="max-width:{{ settings.wagtail_cefran.WagtailCefranConfig.operator_logo_width|unlocalize }}rem;"{% endif %} />
        {# L’alternative de l’image (attribut alt) doit impérativement être renseignée et reprendre le texte visible dans l’image #}
      </a>
    </div>
  {% else %}
    <div class="cefran-footer__brand cefran-enlarge-link">
      <a id="footer-operator"
         href="/"
         title="{{ back_to_home_label }} - {{ settings.wagtail_cefran.WagtailCefranConfig.site_title }} - {{ settings.wagtail_cefran.WagtailCefranConfig.footer_brand|default:'république française' }}">
        {% block brand %}
          <p class="gv-logo">
            {{ settings.wagtail_cefran.WagtailCefranConfig.footer_brand_html| default_if_none:'république<br />française' | safe }}
          </p>
        {% endblock brand %}
      </a>
    </div>
  {% endif %}
{% endblock not_footer_brand %}

{% block footer_content %}
  {{ settings.wagtail_cefran.WagtailCefranConfig.footer_description_wagtail | safe }}
{% endblock footer_content %}

{% block footer_links %}
  {% flat_menu handle="footer" template="menus/custom_flat_menu_footer.html" %}
  {% if settings.wagtail_cefran.WagtailCefranConfig.theme_modale_button %}
    <li class="cefran-footer__bottom-item">
      <button id="footer__bottom-link__parametres-affichage"
              aria-controls="cefran-theme-modal"
              data-cefran-opened="false"
              class="cefran-icon-theme-fill cefran-link--icon-left cefran-footer__bottom-link"
              data-cefran-js-modal-button="true">{% translate "Display settings" %}</button>
    </li>
  {% endif %}
{% endblock footer_links %}
