{% extends "django_cefran/header.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags menu_tags static %}

{% block header_tools %}
  {% flat_menu handle="header_tools" template="custom_flat_menu.html" %}
{% endblock header_tools %}
<div class="cefran-header__menu cefran-modal"
id="cefran-menu-mobile"
aria-labelledby="cefran-btn-menu-mobile">
<div class="cefran-container">
{% translate "Close" as close_label %}
<button type="button"
       class="cefran-btn--close cefran-btn"
       aria-controls="cefran-menu-mobile">{{ close_label }}</button>
<div class="cefran-header__menu-links"></div>
{% translate "Main menu" as main_menu_label %}
{% block main_menu %}
      <nav class="cefran-nav" id="cefran-navigation" aria-label="{{ main_menu_label }}">
        {% main_menu max_levels=2 template="custom_main_menu.html" sub_menu_template="custom_sub_menu.html" %}
      </nav>
{% endblock main_menu %}
</div>
</div>