{% load i18n static fastoche_tags wagtailuserbar wagtailsettings_tags sass_tags %}
{% get_settings %}

<!DOCTYPE html>

<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"
      data-fastoche-scheme="system"
      {% block mourning %}{% if settings.wagtail_fastoche.WagtailFastocheConfig.mourning %}data-fastoche-mourning{% endif %}{% endblock mourning %}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="format-detection"
          content="telephone=no,date=no,address=no,email=no,url=no">

    {% block title %}
      <title>
      {% if title %}
        {{ title }} — {{ SITE_CONFIG.site_title }}
      {% else %}
        {{ settings.wagtail_fastoche.WagtailFastocheConfig.site_title }}
      {% endif %}
      </title>
    {% endblock title %}

    {% fastoche_css %}
    
    {% fastoche_favicon %}

    {% block extra_css %}
    {% endblock extra_css %}

    <link href="{% sass_src 'css/style.sass' %}"
    rel="stylesheet"
    type="text/css" />


    {% block tracking %}
      {% if settings.wagtail_fastoche.AnalyticsSettings.head_scripts %}
        {{ settings.wagtail_fastoche.AnalyticsSettings.head_scripts|safe }}
      {% endif %}
    {% endblock tracking %}

    {% block opengraph %}
    {% endblock opengraph %}

  </head>

  <body>

    {% block skiplinks %}
      {% fastoche_skiplinks skiplinks %}
    {% endblock skiplinks %}

    {% block header %}
      {% include "wagtail_fastoche/blocks/header.html" %}
    {% endblock header %}

    <div class="fastoche-container fastoche-mt-4w fastoche-mb-6w">
      {% block breadcrumb %}
        {% fastoche_breadcrumb %}
      {% endblock breadcrumb %}
      <main id="content" role="main">
        {% block content %}
        {% endblock content %}
      </main>
    </div>

    {% fastoche_theme_modale %}

    {% if SITE_CONFIG.notice %}
      {% fastoche_notice title=SITE_CONFIG.notice %}
    {% endif %}

    {% block header_after %}
      {% wagtailuserbar %}
      {% if settings.wagtail_fastoche.WagtailFastocheConfig.notice %}
        {% fastoche_notice title=settings.wagtail_fastoche.WagtailFastocheConfig.notice %}
      {% endif %}
    {% endblock header_after %}

    {% block follow_newsletter_social_media %}
      {% if settings.wagtail_fastoche.WagtailFastocheConfig.show_newsletter_and_social_block %}
        {% include "wagtail_fastoche/blocks/follow.html" %}
      {% endif %}
    {% endblock follow_newsletter_social_media %}

    {% block follow_newsletter_social_media %}
    {% endblock follow_newsletter_social_media %}

    {% block footer %}
      {% include "wagtail_fastoche/blocks/footer.html" %}
    {% endblock footer %}

    {% fastoche_js nonce=request.csp_nonce %}

    {% block extra_js %}
    {% endblock extra_js %}

    <script src="{% static 'js/common.js' %}">
    </script>

    {% block body_tracking_scripts %}
      {% if settings.wagtail_fastoche.AnalyticsSettings.body_scripts %}
        {{ settings.wagtail_fastoche.AnalyticsSettings.body_scripts|safe }}
      {% endif %}
    {% endblock body_tracking_scripts %}

    {# djlint:off #}
    {% block lang %}{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}{% endblock lang %}
    {# djlint:on #}

  </body>

</html>