{% load static wagtailcore_tags %}
<div class="wrapper">
<ul class="nav__list__less">
{% for p in breadcrumbs %}
  {% if p.children %}
    <li class="breadcrumb nav__item nav_top"><a href="{{ p.url }}" class="breadcrumb nav__list">{{ p.title }}  &gt; </a>
    {% comment %}
      <ul class="submenu">
      <li><a href="{{ p.url }}">{{ p.title }}</a>
      <ul class="submenu">
      {% for c in p.children %}
        <li><a href="{{ c.url }}">{{ c.title }}</a></li>
      {% endfor %}
      </ul></li>
      </ul>
    {% endcomment %}
  {% else %}
    <li class="breadcrumb nav__item nav_top"><a href="{{ p.url }}" class="breadcrumb nav__list">{{ p.title }}  &gt; </a>
  {% endif %}
  </li>
{% endfor %}
<li class="active breadcrumb nav__item nav_self"><a href="{{ p.url }}" class="active breadcrumb nav__list">{{ self.title }}</a></li>
</ul>
<nav role="navigation" class="navigation">
<!-- 
https://codepen.io/nguyenanhtuan/pen/xxMqoOp
-->

<!-- <div id="menuToggle"> -->
<!--
A fake / hidden checkbox is used as click reciever,
so you can use the :checked selector on it.
-->
<!-- <input type="checkbox" id="menu-checkbox" /> -->

<!--
Some spans to act as a hamburger.

They are acting like a real hamburger,
not that McDonalds stuff.
-->
<!-- <div class="burger">
<span></span>
<span></span>
<span></span>
</div> -->

<!--
Too bad the menu has to be inside of the button
but hey, it's pure CSS magic.
-->
<ul id="menu" class="nav__list">
{% for item in menuitems %}
  {% if item.get_children %}
    <li class="breadcrumb subitem nav__item nav_bottom"><a class="breadcrumb subitem nav__list" href="{{  item.url }}"> &gt; {{ item.title }}</a>
    {% comment %}
      <ul class="submenu">
      <li><a href="{{  item.url }}">{{ item.title }}</a>
      <ul class="submenu">
      {% for subitem in item.get_children.specific %}
      {% if subitem.live and subitem.show_in_menus %}
      <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
      {% endif %}
      {% endfor %}
      </ul></li>
      </ul>
    {% endcomment %}
    </li>
  {% else %}
    <li class="breadcrumb subitem nav__item nav_bottom"><a  class="breadcrumb subitem nav__list" href="{{  item.url }}"> &gt; {{ item.title }}</a></li>
  {% endif %}
{% endfor %}
<!-- <li class="breadcrumb subitem nav__item nav_end">&nbsp;&nbsp;&nbsp;&nbsp;</li> -->
{% for item in extramenu %}
  {% if item.value.submenu %}
    <li class="breadcrumb subitem nav__item nav_extra"><a class="breadcrumb subitem nav__list" href="{{  item.value.url }}">{{ item.value.label }}</a>
    {% comment %}<ul
      class="submenu">
      <li class="extramenu subitem"><a href="{{  item.value.url }}" class="extramenu subitem">{{ item.value.label }}</a>
      <ul class="submenu">
      {% for subitem in item.value.submenu %}
      <li class="subitem"><a class="extramenu subitem" href="{{  subitem.url }}">{{ subitem.label }}</a></li>
      {% endfor %}
      </ul></li>
        </ul>
    {% endcomment %}
    </li>
  {% else %}
    <li class="breadcrumb subitem nav__item nav_extra"><a  class="breadcrumb subitem nav__list" href="{{  item.value.url }}"> {{ item.value.label }}</a></li>
  {% endif %}
{% endfor %}
{% comment %}</ul>{% endcomment %}
{% for item in menu %}
  {% if item.value.submenu %}
    <li class="breadcrumb extramenu nav__item nav_extra"><a class="breadcrumb extramenu nav__list" href="{{  item.value.url }}" target="_blank"> {{ item.value.label }}</a>
    {% comment %}
      <ul
      class="submenu">
      <li><a href="{{  item.value.url }}">{{ item.value.label }}</a>
      <ul
      class="submenu">
      {% for subitem in item.value.submenu %}
      <li class="extramenu subitem"><a class="extramenu subitem" href="{{  subitem.url }}">{{ subitem.label }}</a></li>
      {% endfor %}
      </ul></li>
      </ul>
    {% endcomment %}
    </li>
  {% else %}
    <li class="breadcrumb extramenu nav__item nav_extra"><a class="breadcrumb extramenu nav__list" href="{{  item.value.url }}" target="_blank"> {{ item.value.label }}</a></li>
  {% endif %}
{% endfor %}
</ul>
</nav>
</div>