{% load static wagtailcore_tags %}
<nav role="navigation">
  <!-- <div id="menuToggle"> -->
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <!-- <input type="checkbox" id="menu-checkbox" /> -->

    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <!-- <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div> -->

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      {% for p in breadcrumbs %}
        {% if p.children %}
        <li class="breadcrumb"><a href="{{ p.url }}" class="breadcrumb">{{ p.title }}</a>
        <ul class="submenu">
          
          {% comment %}<li><a href="{{ p.url }}">{{ p.title }}</a>
            <ul class="submenu">{% endcomment %}
              
          {% for c in p.children %}
          <li><a href="{{ c.url }}">{{ c.title }}</a></li>
          {% endfor %}
          {% comment %}</ul></li>{% endcomment %}

        </ul>
        {% else %}
        <li class="breadcrumb"><a href="{{ p.url }}" class="breadcrumb">{{ p.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li class="active">{{ self.title }}</li>
      <ul class="activesubmenu">
      {% for item in menuitems %}
      {% if item.get_children %}
      <li class="subitem"><a class="subitem" href="{{  item.url }}">{{ item.title }}</a>
        <ul class="submenu">{% comment %}
          <li><a href="{{  item.url }}">{{ item.title }}</a>
            <ul class="submenu">{% endcomment %}
            {% for subitem in item.get_children.specific %}
            {% if subitem.live and subitem.show_in_menus %}
          <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
          {% endif %}
          {% endfor %}
          {% comment %}</ul></li>{% endcomment %}
        </ul>
      </li>
      {% else %}
      <li class="subitem"><a  class="subitem" href="{{  item.url }}">{{ item.title }}</a></li>
      {% endif %}
      {% endfor %}
      {% for item in extramenu %}
      {% if item.value.submenu %}
      <li class="subitem"><a class="subitem" href="{{  item.value.url }}">{{ item.value.label }}</a><ul
          class="submenu">{% comment %}
          <li class="extramenu subitem"><a href="{{  item.value.url }}" class="extramenu subitem">{{ item.value.label }}</a>
          <ul class="submenu">{% endcomment %}
          {% for subitem in item.value.submenu %}
          <li class="subitem"><a class="extramenu subitem" href="{{  subitem.url }}">{{ subitem.label }}</a></li>
          {% endfor %}
          <{% comment %}</ul></li>{% endcomment %}
        </ul></li>
        {% else %}
        <li class="subitem"><a  class="subitem" href="{{  item.value.url }}">{{ item.value.label }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
      {% for item in menu %}
      <li class="extramenu"><a class="extramenu" href="{{  item.value.url }}">{{ item.value.label }}</a>{% if item.value.submenu %}<ul
          class="submenu">
          {% comment %}<li><a href="{{  item.value.url }}">{{ item.value.label }}</a>
            <ul
          class="submenu">{% endcomment %}
          {% for subitem in item.value.submenu %}
          <li class="extramenu subitem"><a class="extramenu subitem" href="{{  subitem.url }}">{{ subitem.label }}</a></li>
          {% endfor %}
          {% comment %}</ul></li>{% endcomment %}
        </ul></li>
        {% else %}
        <li class="extramenu"><a class="extramenu" href="{{  item.value.url }}">{{ item.value.label }}</a></li>
          {% endif %}
      {% endfor %}
      <li class="extramenu"> <a href="#" class="jour-nuit extramenu" id="jour-nuit">Jour et nuit</a></li>
    </ul>
  <!-- </div> -->
</nav>