{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="cefran-container">
        <div class="cefran-my-7w cefran-mt-md-12w cefran-mb-md-10w cefran-grid-row cefran-grid-row--gutters cefran-grid-row--middle cefran-grid-row--center">
            <div class="cefran-py-0 cefran-col-12 cefran-col-md-6">
                <h1>Erreur inattendue</h1>
                <p class="cefran-text--sm cefran-mb-3w">Erreur 500</p>
                <p class="cefran-text--lead cefran-mb-3w">Essayez de rafraîchir la page ou bien ressayez plus tard.</p>
                <p class="cefran-text--sm cefran-mb-5w">
                    Désolé, le service rencontre un problème, nous travaillons pour le résoudre le plus rapidement possible.
                </p>
                <ul class="cefran-btns-group cefran-btns-group--inline-md">
                    <li>
                        <a class="cefran-btn" href="/">Page d’accueil</a>
                    </li>
                </ul>
            </div>
            <div class="cefran-col-12 cefran-col-md-3 cefran-col-offset-md-1 cefran-px-6w cefran-px-md-0 cefran-py-0">
                <img src="{% static 'artwork/technical-error.svg' %}"
                     class="cefran-responsive-img"
                     alt=""
                     width="300"
                     height="300" />
            </div>
        </div>
    </div>
{% endblock content %}
