{% extends "django_cefran/header.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags menu_tags l10n %}

{% block brand %}
  {% translate "Home page" as home_page %}
  <a href="/"
     title="{{ home_page }} — {{ settings.wagtail_cefran.WagtailCefranConfig.header_brand }}">
    <p class="gv-logo">{{ settings.wagtail_cefran.WagtailCefranConfig.header_brand_html|safe }}</p>
  </a>
{% endblock brand %}

{% block service_title %}
  {% translate "Home page" as home_page %}
  <a href="/"
     title="{{ home_page }} — {{ settings.wagtail_cefran.WagtailCefranConfig.site_title }}">

    <p class="cefran-header__service-title">
      {% if settings.wagtail_cefran.WagtailCefranConfig.site_title|slice:"-2:" == "fr" %}
        {{ settings.wagtail_cefran.WagtailCefranConfig.site_title|slice:":-2" }}<em>fr</em>
      {% else %}
        {{ settings.wagtail_cefran.WagtailCefranConfig.site_title }}
      {% endif %}
      {% if settings.wagtail_cefran.WagtailCefranConfig.beta_tag %}
        <span class="cefran-badge cefran-badge--sm cefran-badge--green-emeraude">BETA</span>
      {% endif %}

    </p>
  </a>
{% endblock service_title %}

{% block service_tagline %}
  {{ settings.wagtail_cefran.WagtailCefranConfig.site_tagline }}
{% endblock service_tagline %}

{% block operator_logo %}
  {% if settings.wagtail_cefran.WagtailCefranConfig.operator_logo_file and settings.wagtail_cefran.WagtailCefranConfig.operator_logo_alt %}
    {% image settings.wagtail_cefran.WagtailCefranConfig.operator_logo_file original as logo_img %}

    <div class="cefran-header__operator">
      <img class="cefran-responsive-img"
           src="{{ logo_img.url }}"
           alt="{{ settings.wagtail_cefran.WagtailCefranConfig.operator_logo_alt }}"
           {% if settings.wagtail_cefran.WagtailCefranConfig.operator_logo_width >= 1 %}style="max-width:{{ settings.wagtail_cefran.WagtailCefranConfig.operator_logo_width|unlocalize }}rem;"{% endif %} />
    </div>
  {% endif %}
{% endblock operator_logo %}

{% block header_tools %}
<li>
  {% include "django_cefran/language_selector.html" %}
</li>
  {% flat_menu handle="header_tools" template="menus/custom_flat_menu.html" %}
{% endblock header_tools %}

{% block header_search %}
  {% translate "Search" as search_label %}
  {% if settings.wagtail_cefran.WagtailCefranConfig.search_bar %}
    <div class="cefran-header__search cefran-modal" id="modal-search">
      <div class="cefran-container cefran-container-lg--fluid">
        {% translate "Close" as close_label %}
        <button class="cefran-btn--close cefran-btn"
                aria-controls="modal-search"
                title="{{ close_label }}">{{ close_label }}</button>
        <form action="{% url 'wagtail_cefran_search' %}" method="get">
          <div class="cefran-search-bar" id="search-bar" role="search">
            <label class="cefran-label" for="search-bar-input">{{ search_label }}</label>
            <input class="cefran-input"
                   placeholder="{{ search_label }}"
                   type="search"
                   id="search-bar-input"
                   name="q">
            <button class="cefran-btn" title="{{ search_label }}">{{ search_label }}</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock header_search %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
<div class="cefran-header__menu cefran-modal"
id="cefran-menu-mobile"
aria-labelledby="cefran-btn-menu-mobile">
<div class="cefran-container">
<button class="cefran-btn--close cefran-btn"
       aria-controls="cefran-menu-mobile">
{% translate "Close" %}
</button>
<div class="cefran-header__menu-links">
</div>
{% translate "Main menu" as main_menu_label %}
<nav role="navigation"
class="cefran-nav"
id="cefran-navigation"
aria-label="{{ main_menu_label }}">
{% main_menu max_levels=2 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
</nav>
</div>
</div>

{% endblock main_menu %}
