{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="cfran-container">
        <div class="cfran-my-7w cfran-mt-md-12w cfran-mb-md-10w cfran-grid-row cfran-grid-row--gutters cfran-grid-row--middle cfran-grid-row--center">
            <div class="cfran-py-0 cfran-col-12 cfran-col-md-6">
                <h1>Page non trouvée</h1>
                <p class="cfran-text--sm cfran-mb-3w">Erreur 404</p>
                <p class="cfran-text--lead cfran-mb-3w">
                    La page que vous cherchez est introuvable. Veuillez nous excuser pour la gène occasionnée.
                </p>
                <p class="cfran-text--sm cfran-mb-5w">
                    Si vous avez tapé l’adresse web dans le navigateur, vérifiez qu’elle est correcte. La page n’est peut-être plus disponible.
                    <br />
                    Dans ce cas, pour continuer votre visite, vous pouvez consulter notre page d’accueil.
                </p>
                <ul class="cfran-btns-group cfran-btns-group--inline-md">
                    <li>
                        <a class="cfran-btn" href="/">Page d’accueil</a>
                    </li>
                </ul>
            </div>
            <div class="cfran-col-12 cfran-col-md-3 cfran-col-offset-md-1 cfran-px-6w cfran-px-md-0 cfran-py-0">
                <img src="{% static 'artwork/technical-error.svg' %}"
                     class="cfran-responsive-img"
                     alt=""
                     width="300"
                     height="300" />
            </div>
        </div>
    </div>
{% endblock content %}
