{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="webfastoche-container">
        <div class="webfastoche-my-7w webfastoche-mt-md-12w webfastoche-mb-md-10w webfastoche-grid-row webfastoche-grid-row--gutters webfastoche-grid-row--middle webfastoche-grid-row--center">
            <div class="webfastoche-py-0 webfastoche-col-12 webfastoche-col-md-6">
                <h1>Erreur inattendue</h1>
                <p class="webfastoche-text--sm webfastoche-mb-3w">Erreur 500</p>
                <p class="webfastoche-text--lead webfastoche-mb-3w">Essayez de rafraîchir la page ou bien ressayez plus tard.</p>
                <p class="webfastoche-text--sm webfastoche-mb-5w">
                    Désolé, le service rencontre un problème, nous travaillons pour le résoudre le plus rapidement possible.
                </p>
                <ul class="webfastoche-btns-group webfastoche-btns-group--inline-md">
                    <li>
                        <a class="webfastoche-btn" href="/">Page d’accueil</a>
                    </li>
                </ul>
            </div>
            <div class="webfastoche-col-12 webfastoche-col-md-3 webfastoche-col-offset-md-1 webfastoche-px-6w webfastoche-px-md-0 webfastoche-py-0">
                <img src="{% static 'artwork/technical-error.svg' %}"
                     class="webfastoche-responsive-img"
                     alt=""
                     width="300"
                     height="300" />
            </div>
        </div>
    </div>
{% endblock content %}
