{% load i18n static django_dsfacile_tags wagtailuserbar wagtailsettings_tags sass_tags %}
{% get_settings %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"
      data-dsfacile-scheme="system"
      {% if settings.content_manager.CmsDsfrConfig.mourning %}data-dsfacile-mourning{% endif %}>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block title %}
      <title>
        {% if title %}{{ title }} —{% endif %}
      {{ settings.content_manager.CmsDsfrConfig.site_title }}</title>
    {% endblock title %}

    {% block description %}
    {% endblock description %}

    {% include "favicon.html" %}

    {% dsfacile_css %}

    <link href="{% static 'dist/dsfacile/dsfacile.min.css' %}" rel="stylesheet">


    <link href="{% sass_src 'css/style.sass' %}"
          rel="stylesheet"
          type="text/css" />


    {% block extra_css %}
    {% endblock extra_css %}

    {% block tracking %}
      {% if settings.content_manager.AnalyticsSettings.head_scripts %}
        {{ settings.content_manager.AnalyticsSettings.head_scripts|safe }}
      {% endif %}
    {% endblock tracking %}

    {% block social_media %}
    {% endblock social_media %}
    
  </head>

  <body>
    {% block skiplinks %}
      {% dsfacile_skiplinks skiplinks %}
    {% endblock skiplinks %}

    {% include "blocks/header.html" %}
    {% dsfacile_theme_modale %}
    {% wagtailuserbar %}

    {% if settings.content_manager.CmsDsfrConfig.notice %}
      {% dsfacile_notice title=settings.content_manager.CmsDsfrConfig.notice %}
    {% endif %}

    <main id="content" role="main">
      {% block content %}
      {% endblock content %}
    </main>

    {% block follow_newsletter_social_media %}
      {% if settings.content_manager.CmsDsfrConfig.show_newsletter_and_social_block %}
        {% include "blocks/follow.html" %}
      {% endif %}
    {% endblock follow_newsletter_social_media %}

    {% include "blocks/footer.html" %}

    {% comment %}
    {% dsfacile_js nonce=request.csp_nonce %}
    {% endcomment %}
    {% block extra_js %}
    <script type="module" src="{% static 'dist/dsfacile/dsfacile.module.min.js' %}" nonce></script>
    <script type="text/javascript" src="{% static 'dist/dsfacile/dsfacile.nomodule.min.js' %}" nomodule></script>
    {% endblock extra_js %}

    {% block body_tracking_scripts %}
      {% if settings.content_manager.AnalyticsSettings.body_scripts %}
        {{ settings.content_manager.AnalyticsSettings.body_scripts|safe }}
      {% endif %}
    {% endblock body_tracking_scripts %}
  </body>

</html>
