{% load i18n static cfran_tags wagtailuserbar wagtailsettings_tags sass_tags %}
{% get_settings %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"
      data-cfran-scheme="system"
      {% if settings.wagtail_cfran.WagtailCfranConfig.mourning %}data-cfran-mourning{% endif %}>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% block title %}
      <title>
        {% if title %}{{ title }} —{% endif %}
      {{ settings.wagtail_cfran.WagtailCfranConfig.site_title }}</title>
    {% endblock title %}

    {% block description %}
    {% endblock description %}

    {% cfran_favicon %}

    {% cfran_css %}
    <link href="{% static 'cfran/dist/utility/utility.min.css' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'css/style.sass' %}"
          rel="stylesheet"
          type="text/css" />

    {% block extra_css %}
    {% endblock extra_css %}

    {% block tracking %}
      {% if settings.wagtail_cfran.AnalyticsSettings.head_scripts %}
        {{ settings.wagtail_cfran.AnalyticsSettings.head_scripts|safe }}
      {% endif %}
    {% endblock tracking %}

    {% block social_media %}
    {% endblock social_media %}
  </head>

  <body>
    {% block skiplinks %}
      {% cfran_skiplinks skiplinks %}
    {% endblock skiplinks %}

    {% include "blocks/header.html" %}
    {% cfran_theme_modale %}
    {% wagtailuserbar %}

    {% if settings.wagtail_cfran.WagtailCfranConfig.notice %}
      {% cfran_notice title=settings.wagtail_cfran.WagtailCfranConfig.notice %}
    {% endif %}

    <main id="content" role="main">
      {% block content %}
      {% endblock content %}
    </main>

    {% block follow_newsletter_social_media %}
      {% if settings.wagtail_cfran.WagtailCfranConfig.show_newsletter_and_social_block %}
        {% include "blocks/follow.html" %}
      {% endif %}
    {% endblock follow_newsletter_social_media %}

    {% include "blocks/footer.html" %}

    {% cfran_js nonce=request.csp_nonce %}
    {% block extra_js %}
    {% endblock extra_js %}

    {% block body_tracking_scripts %}
      {% if settings.wagtail_cfran.AnalyticsSettings.body_scripts %}
        {{ settings.wagtail_cfran.AnalyticsSettings.body_scripts|safe }}
      {% endif %}
    {% endblock body_tracking_scripts %}
  </body>

</html>