{% extends "sites_faciles/base.html" %}

{% load static village_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block content %}
    {% include "sites_faciles/heading.html" %}
    <div class="village-container village-pt-4w">
        {% include "sites_faciles/breadcrumbs.html" %}
        {% if not page.header_with_title %}<h1>{{ page.title }}</h1>{% endif %}
    </div>

    {% include "sites_faciles/messages.html" %}

    {% include "sites_faciles/blocks_stream.html" with stream=page.body %}

    {% block inner_content %}
    {% endblock inner_content %}

    <div class="village-container village-my-6w">
        {% for tag in page.tags.all|dictsort:"slug" %}
            <a class="village-tag" target="_self" href="{% url 'global_tag' tag.slug %}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endblock content %}
