{% extends "django_design_system/header.html" %}

{% load i18n static wagtailcore_tags wagtailimages_tags menu_tags static %}

{% block brand %}
        <a href="{{ home_url }}" title="{{ full_site_title }} ">
          <div class='village-header__operator'>
            <img class='village-responsive-img' src="{% static 'sites-faciles/images/logo.svg' %}"
              alt='SitesFaciles Les Grands Voisins' 
            style='max-width:16rem;'
          </div>
        </a>
{% endblock brand %} 

<div class="village-header__menu village-modal"
id="village-menu-mobile"
aria-labelledby="village-btn-menu-mobile">
  <div class="village-container">
  {% translate "Close" as close_label %}
    <button type="button"
          class="village-btn--close village-btn"
          aria-controls="village-menu-mobile">{{ close_label }}</button>
    <div class="village-header__menu-links"></div>
    {% translate "Main menu" as main_menu_label %}
{% block main_menu %}
    <nav class="village-nav" id="village-navigation" aria-label="{{ main_menu_label }}">
      {% main_menu max_levels=2 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
    </nav>
{% endblock main_menu %}
  </div>
</div>

{% block header_tools %}
<li>
  {% include "sites_faciles/language_selector.html" %}
</li>
  {% flat_menu handle="header_tools" template="menus/custom_flat_menu.html" %}
{% endblock header_tools %}