{% extends "lesgv.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}fait-ma-page{% endblock %}

{% block lesgv_extra_head %}
{% if page.redirect_url  %}
<meta http-equiv="Refresh" content="0; url='{{ page.redirect_url }}'" />
{% endif %}
{% block fairemainpage_extra_head %}
{% endblock %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/burger.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/breadcrumbs.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/blog-post-card.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/faire-ma-page.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% with 'css/lesgv/themes/'|add:theme|add:'.css' as css_static %}{% static css_static %}{% endwith %}" />
{% block faire_ma_page_extra_css %}
{% endblock faire_ma_page_extra_css %}

{% endblock extra_css %}

{% block content %}
  <div class="enclosing-grid">
    <div class="TL cadre">
      <a href="{{ homepage_link }}"><img src="{% static static_images.TL %}"></a>
    </div>
    {%comment%}
  <div class="HH">
    <a href="{{ homepage_link }}">{% image site_logo max-1000x100 %}</a>
  </div>
  {%endcomment%}
  <div class="MR cadre">
    <a href="{{ homepage_link }}"><img src="{% static static_images.MR %}"></a>
  </div>
    <div class="CT">
      {% block CT %}
      <h1>{{ page.title }} </h1>
      {{ page.body|richtext }} 
      {% comment %}
      <div class="posts container">
        {% include_block page.posts_index %}
      </div>
      {% endcomment %}
      {% block extra_CT %}
        {# METTRE EXTRA CONTENU ICI #}
      {% endblock extra_CT %}
      <div style="clear: both;"></div>
      {% include "lesgv/fragments/breadcrumbs.html" with pages=self.get_ancestors %}
      {% include "lesgv/fragments/blog_posts.html" with posts=posts %}
    {% endblock CT %}
  </div>

  <div class="TR cadre">
    <a href="{{ homepage_link }}"><img src="{% static static_images.TR %}"></a>
  </div>
    <div class="FL">
      {% block FL %}
      {{ footer1|richtext }} 
      {% endblock FL %}
    </div>
    <div class="BL cadre">
    <a href="https://blog.lesgrandsvoisins.com/tag/lesartsvoisins/"><img src="{% static static_images.BL %}"></a>
    </div>
    <div class="FR cadre">
      {% block FR %}
      {{ footer2|richtext }} 
      {% endblock FR %}
    </div>
    <div class="BR cadre">
      <a href="{{ homepage_link }}"><img src="{% static static_images.BR %}"></a>
    </div>

    <div class="ML cadre">
      <a href="{{ homepage_link }}"><img src="{% static static_images.ML %}"></a>
    </div>
    <div class="BC cadre">
      <a href="{{ homepage_link }}"><img src="{% static static_images.BC %}" class="BC"></a>
   </div>

</div>
<a href="#" class="jour-nuit breadcrumb extramenu nav__list" id="jour-nuit" alt="Changer entre modes claire et sombre"><svg viewBox="0 0 16 16"><path fill="currentColor" d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/></svg></a>
<!img src="./faitm_files/index.jpg" style="margin: 50vh auto;width: 100%;">

{% endblock content %}

{% block lesgv_extra_js%}
<script type="text/javascript" src="{% static 'js/burger.js' %}" defer></script>
{% block faire_main_extra_js%}
{% endblock %}
{% endblock %}