{% load static django_dsfacile_tags wagtailcore_tags wagtailimages_tags wagtailmarkdown %}

{% for block in stream %}
  {% if block.block_type == 'alert' %}
    {% include "content_manager/blocks/alert.html" %}
  {% elif block.block_type == 'callout' %}
    {% include "content_manager/blocks/callout.html" %}
  {% elif block.block_type == 'image' %}
    <div class="dsfacile-container dsfacile-my-3w">
      <div class="dsfacile-grid-row dsfacile-grid-row--gutters">
        <div class="dsfacile-col-12">{% include_block block %}</div>
      </div>
    </div>
  {% elif block.block_type == 'multicolumns' %}
    {% include_block block %}
  {% elif block.block_type == 'fullwidthbackground' %}
    {% include_block block %}
  {% elif block.block_type == 'paragraph' %}
    <div class="dsfacile-container">{{ block.value|richtext }}</div>
  {% elif block.block_type == 'accordions' %}
    {% include "content_manager/blocks/accordions.html" with accordions_id=forloop.counter0|lower %}
  {% elif block.block_type == 'stepper' %}
    {% include "content_manager/blocks/stepper.html" %}
  {% elif block.block_type == 'separator' %}
    <div class="dsfacile-container">
      <hr class="dsfacile-mt-{{ block.value.top_margin }}w dsfacile-mb-{{ block.value.bottom_margin }}w dsfacile-py-1v">
    </div>
  {% elif block.block_type == 'markdown' %}
    <div class="dsfacile-container">{{ block.value|markdown }}</div>
  {% elif block.block_type == 'html' %}
    <div class="dsfacile-container">{{ block.value|safe }}</div>
  {% else %}
    <div class="dsfacile-container">{% include_block block %}</div>
  {% endif %}
{% endfor %}
