{# Display Django message info from previous form #}
{% if messages %}
    <div class="dsfacile-container dsfacile-mt-6w">
        <div class="dsfacile-grid-row dsfacile-grid-row--gutters">
            <div class="dsfacile-col-12">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="dsfacile-alert dsfacile-alert--success dsfacile-alert--sm dsfacile-mb-5w"
                             role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "info" %}
                        <div class="dsfacile-alert dsfacile-alert--info dsfacile-alert--sm dsfacile-mb-5w" role="status">
                            <p>{{ message }}</p>
                        </div>
                    {% elif message.tags == "error" %}
                        <div class="dsfacile-alert dsfacile-alert--error dsfacile-alert--sm dsfacile-mb-5w" role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
