<div class="dsfacile-container dsfacile-my-3w">
    <div class="dsfacile-stepper">
        <h2 class="dsfacile-stepper__title">{{ block.value.title }}</h2>
        <div class="dsfacile-stepper__steps"
             data-dsfacile-current-step="{{ block.value.current }}"
             data-dsfacile-steps="{{ block.value.total }}">
        </div>
        <div class="dsfacile-grid-row dsfacile-grid-row--gutters">
            {% for subblock in block.value.steps %}
                <div class="dsfacile-col-12 dsfacile-col-sm">
                    <p>
                        <strong>{{ subblock.value.title }}</strong>
                    </p>
                    <p>{{ subblock.value.detail|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
