<div class="webfastoche-container webfastoche-my-3w">
    <div class="webfastoche-stepper">
        <h2 class="webfastoche-stepper__title">{{ block.value.title }}</h2>
        <div class="webfastoche-stepper__steps"
             data-webfastoche-current-step="{{ block.value.current }}"
             data-webfastoche-steps="{{ block.value.total }}">
        </div>
        <div class="webfastoche-grid-row webfastoche-grid-row--gutters">
            {% for subblock in block.value.steps %}
                <div class="webfastoche-col-12 webfastoche-col-sm">
                    <p>
                        <strong>{{ subblock.value.title }}</strong>
                    </p>
                    <p>{{ subblock.value.detail|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
