{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<div class="cefran-container cefran-my-6w">
  <div class="cefran-grid-row cefran-grid-row--gutters">
    {% if value.image_side == "left" %}
      <div class="cefran-col-12 cefran-col-sm-{{ value.image_ratio }}">
        <div class="bordered cefran-px-2w">{% image value.image original class="cefran-responsive-img" alt="" %}</div>
      </div>
      <div class="cefran-col-12 cefran-col-sm{{ -12|add:value.image_ratio }}">
        {{ value.text|richtext }}

        {% if value.link is not None and value.link.url %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.link.url }}">{{ value.link.text }}</a>
        {% elif value.page and value.link_label %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.page.url }}">{{ value.link_label }}</a>
        {% elif value.link_url and value.link_label %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.link_url }}">{{ value.link_label }}</a>
        {% endif %}
      </div>
    {% else %}
      <div class="cefran-col-12 cefran-col-sm{{ -12|add:value.image_ratio }}">
        {{ value.text|richtext }}
        {% if value.link is not None and value.link.url %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.link.url }}">{{ value.link.text }}</a>
        {% elif value.page and value.link_label %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.page.url }}">{{ value.link_label }}</a>
        {% elif value.link_url and value.link_label %}
          <a class="cefran-link cefran-fi-arrow-right-line cefran-link--icon-right"
             href="{{ value.link_url }}">{{ value.link_label }}</a>
        {% endif %}
      </div>
      <div class="cefran-col-12 cefran-col-sm-{{ value.image_ratio }}">
        <div class="bordered cefran-px-2w">{% image value.image original class="cefran-responsive-img" alt="" %}</div>
      </div>
    {% endif %}
  </div>
</div>
