{% load cefran_tags wagtailcore_tags wagtailimages_tags %}
{% image value.bg_image original as bg_img %}
<div class="cefran-py-5w cefran-my-5w"
     {% if value.bg_color_class or bg_img or value.bg_color %}style="background:{% endif %}
     {% if bg_img %}no-repeat center url({{ bg_img.url }}){% endif %}
     {% if value.bg_color_class %} var(--background-alt-{{ value.bg_color_class }}) {% elif value.bg_color %}{{ value.bg_color }}{% endif %}
     {% if value.bg_color_class or bg_img or value.bg_color %};"{% endif %}>
  <div class="cefran-container">
    {% if value.title %}
      <div class="cefran-grid-row cefran-grid-row--gutters">
        <div class="cefran-col-12 cefran-mt-3w">
          <{{ value.heading_tag|default:"h2" }}>{{ value.title }}</{{ value.heading_tag|default:"h2" }}>
        </div>
      </div>
    {% endif %}
    <div class="cefran-grid-row cefran-grid-row--gutters cefran-py-3w">
      {% for subblock in value.columns %}
        {% if subblock.block_type == 'text' %}
          <div class="cefran-col-12 cefran-col-sm">{{ subblock.value|richtext }}</div>
        {% elif subblock.block_type == 'video' %}
          <div class="cefran-col-12 cefran-col-sm">
            <h2>{{ subblock.value.title }}</h2>
            {% include_block subblock %}
          </div>
        {% else %}
          <div class="cefran-col-12 cefran-col-sm">{% include_block subblock %}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
