<div class="cefran-container cefran-my-3w">
    <div class="cefran-stepper">
        <h2 class="cefran-stepper__title">{{ block.value.title }}</h2>
        <div class="cefran-stepper__steps"
             data-cefran-current-step="{{ block.value.current }}"
             data-cefran-steps="{{ block.value.total }}">
        </div>
        <div class="cefran-grid-row cefran-grid-row--gutters">
            {% for subblock in block.value.steps %}
                <div class="cefran-col-12 cefran-col-sm">
                    <p>
                        <strong>{{ subblock.value.title }}</strong>
                    </p>
                    <p>{{ subblock.value.detail|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
