{% load static %}
<div class="icon-picker-widget">
  {% include "django/forms/widgets/text.html" %}

  {% with widget.attrs.id as widget_id %}
    <span id="{{ widget_id }}-icon" aria-hidden="true"></span>
    <script>
      (async () => {
        let widgetInput = document.getElementById('{{ widget_id }}');
        let widgetIcon = document.getElementById('{{ widget_id }}-icon');

        const options = {
          iconLibraries: ['dsfacile-buildings.json', 'dsfacile-business.json', 'dsfacile-communication.json', 'dsfacile-design.json', 'dsfacile-development.json', 'dsfacile-device.json', 'dsfacile-document.json', 'dsfacile-editor.json', 'dsfacile-finance.json', 'dsfacile-health.json', 'dsfacile-logo.json', 'dsfacile-map.json', 'dsfacile-media.json', 'dsfacile-others.json', 'dsfacile-system.json', 'dsfacile-user.json', 'dsfacile-weather.json'],
          allowEmpty: true,
          onSelect: function (jsonIconData) {
            widgetInput.value = jsonIconData.iconClass;
            widgetIcon.classList.add(jsonIconData.iconClass, "dsfacile-icon--lg", "dsfacile-mt-1w");
            },
          onReset: function () {
            widgetInput.innerHTML = "";
            widgetIcon.className = "";
          }
        }

        let _uip = new UniversalIconPicker('#{{ widget_id }}', options);
      })();
    </script>
  {% endwith %}
</div>
