{% extends "base.html" %}

{% load static village_tags wagtailcore_tags wagtailimages_tags i18n %}

{% block title %}
    <title>{{ page.seo_title|default:page.title }} — {{ settings('wagtail_village.WagtailVillageConfig', use_default_site=True).site_title }}</title>
{% endblock title %}

{% if page.search_description %}
    {% block description %}
        <meta name="description" content="{{ page.search_description }}" />
    {% endblock description %}
{% endif %}

{% block content %}
    {% include "wagtail_village/messages.html" %}

    <div class="village-container village-my-6w">
        {% village_breadcrumb breadcrumb %}
        <h1>{% translate "Categories" %}</h1>
        <ul>
            {% for category in categories|dictsort:"cat_name" %}
                <li>
                    <a href="{% url 'wagtail_village.blog:category' page.slug category.cat_slug %}"><strong>{{ category.cat_name }}</strong> ({{ category.cat_count }})</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
