{% load menu_tags %}
<div class="fastoche-collapse fastoche-mega-menu"
     id="mega-menu-{{ menu.parent_menu_item.id }}"
     tabindex="-1">
    <div class="fastoche-container fastoche-container--fluid fastoche-container-lg">
        <button class="fastoche-link--close fastoche-link"
                aria-controls="mega-menu-{{ menu.parent_menu_item.id }}">Fermer</button>
        <div class="fastoche-grid-row fastoche-grid-row-lg--gutters">
            <div class="fastoche-col-12 fastoche-col-lg-8 fastoche-col-offset-lg-4--right">
                <div class="fastoche-mega-menu__leader">
                    <h4 class="fastoche-h4 fastoche-mb-2v">{{ menu.title }}</h4>
                    {% if menu.description %}<p class="fastoche-hidden fastoche-displayed-lg">{{ menu.description|safe }}</p>{% endif %}
                    {% if menu.main_link %}
                        <a class="fastoche-link fastoche-fi-arrow-right-line fastoche-link--icon-right fastoche-link--align-on-content"
                           href="{{ menu.main_link }}">Voir toute la rubrique</a>
                    {% endif %}
                </div>
            </div>
            {% for category in menu.get_categories %}
                <div class="fastoche-col-12 fastoche-col-lg-3">
                    <h5 class="fastoche-mega-menu__category">
                        <a class="fastoche-nav__link" href="#" target="_self">
                            {% if category.category.heading %}
                                {{ category.category.heading }}
                            {% else %}
                                {{ category.category.title }}
                            {% endif %}
                        </a>
                    </h5>
                    {% flat_menu category.category.handle template="wagtail_fastoche/menus/mega_menu_category.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
